body {
    background-image: url('imagens/Tela de Cadastrar.png'); /* Substitua pelo caminho correto para sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
  }

  
  .cadastro{
    border: 2px solid rgb(199, 199, 199);
    border-radius: 25px;
    margin-top: 15%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%; 
    opacity: 80%; 
  }
  .cadastro p
  {
    margin: 10px 10px 20px 10px;
  }
  .texto{
    border: 2px solid rgb(199, 199, 199);
    border-radius: 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 1.6%;
  }

  .cadastro:hover{
    transition: all 0.5s;
    opacity: 100%;
  }