body {
    background-image: url('imagens/Tela de Cadastrar.png'); /* Substitua pelo caminho correto para sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o fundo */
    background-repeat: no-repeat; /* Impede a repetição da imagem */
  }

  
  .cadastro{
      border: 2px solid rgba(143, 139, 139, 0.87);
          border-radius: 25px;
          padding: 0.4%;
          margin-left: 5%;
          margin: 16%;   
  }
  .texto{
    border: 2px solid rgba(143, 139, 139, 0.87);
          border-radius: 25px;
          padding: 1.6%;
          margin-left: 5%;
          margin: 5%;  
  }

