

/* Reseta algumas propriedades padrão para consistência entre navegadores */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-image: url('imagens/Tela\ de\ Cadastrar.png'); /* Substitua pelo caminho correto para sua imagem */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cadastro {
  background-color: rgba(255, 255, 255, 0.9); /* Fundo branco com opacidade */
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cadastro h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.texto {
  margin-bottom: 15px;
}

.texto label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
  color: #555;
}

.texto input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.butao {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.butao:hover {
  background-color: #0056b3;
}
