.menu-botao{
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 10px;
    cursor: pointer;
    top: 15px;
    left: 10px;
    margin-top: 250px;
    margin-left: 0;
}
.menu-botao:hover{
    transition: 1s;
    background-color: rgb(171, 174, 176);
}

.menu{
    padding-top: 70px;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0,5s;
    background-color: #484cca;
    font-size: 20px ;
}
.menu a{
    font-size: larger;
    margin-left: 50px;
    text-align: center;
    color: aliceblue;
}
.menu.open{
    width: 250px;
}