
/* Reseta algumas propriedades padrão para consistência entre navegadores */
* {

  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  max-width: 1920px;
}
.mamo{
  justify-content: center;
  display: flex;

}

.TituloDeCadastro{
  display: flex;
  justify-content: center;
  font-size: 40px; /* Tamanho grande para o título */
  color: #ffffff; /* Cor do texto */
  letter-spacing: 2px; /* Espaçamento entre letras */
  background-color: #d1d1d1; /* Fundo do título */
  padding: 18px; /* Espaçamento interno */
  border-radius: 50px; /* Bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */


}
.cadastrop{
  box-sizing: border-box;
  width: 800px;
  border:3px solid #d1d1d1; /* Fundo branco com opacidade */
  border-radius: 35px;
  padding: 50px;
  padding-bottom:70px;
}
.cadastro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 380px;
  width: 700px;
 
}

.texto {
  
  flex-direction: column;
  margin-bottom: 100px;
  border-radius: 50px;
  border-color: #d1d1d1;
  height: 100px;
  padding: 10px;
  width: 200px;
}
.texto input {
  font-size: 16px;
}
.texto input :hover{ 
  cursor: pointer;
}
.botoes{
  display: flex;
  position: relative;
  width: 200px;
  z-index: 1px;
  left: 100px;
 
}
.butao_de_cadastrar {
  margin-left:410px;
  padding: 15px 30px;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #3de2ff;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.384);

}

.butao_de_cadastrar:hover {
  background-color: #4fa4ff;
}

.butao_de_voltar_1 {
  margin-left:-100px ;
  padding: 15px 30px;
  font-weight: bolder;
  font-size: 20px;
  letter-spacing: 2px;
  background-color: #3de2ff;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.38260);
}

.butao_de_voltar_1:hover {
  background-color: #4fa4ff;
}

input::placeholder{
  color: #d1d1d1;
}
