body {
  max-width: 1920px;
  justify-content: center;
  display: flex;  
  
}
.Login{
  display: flex;
  justify-content:center ;
  margin: 40px;
  
}
.Login h1{
  padding: 10px 30px;
  border-radius: 200px;
  background-color: #d1d1d1;
  color: white;
}
.login {
  padding: 50px;
  border: 2px solid #d1d1d1;
  border-radius: 15px;
  width: 500px;
  height: 400px;
  justify-content: space-between;

}
#placeholder{
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.login p {
  margin: 20px 20px 70px 20px;
}
.emailesenha {
  border: 2px solid rgb(199, 199, 199);
  border-radius: 25px;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  font-size: 16px; 
}

.cor-da-letra {
  color: rgb(199, 199, 199);
}

.botoes{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 200px;
}
.botaodeentrar {
  text-decoration: none;
  text-align: center;
  padding: 15px 15px 10px ;
  background: linear-gradient(45deg, #4fa4ff, #3de2ff );
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0. 3s ease;
  margin-top: 20px;
  margin-bottom:20px;
  width: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.384);
}

.botaodeentrar:hover {
  background-color: #4fa4ff;
}
.botaodevoltar {
  text-decoration: none;
  padding: 15px 40px 10px  ;
  background: linear-gradient(to right, #3de2ff,#4fa4ff);
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-bottom:20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.384);
}
.botaodevoltar:hover {
  background-color: #4fa4ff;
}

input::placeholder{
    color: #9ea0a0; /*isso é a cor da letra da caixa de texto*/
}


