*{
    box-sizing: border-box;
}
header{
    width: 100%;
    padding: 5px 1%;
}
#sidebar{
    list-style: none;
   
    text-decoration: none;
}
#bordabaixa{
    border-bottom: #9ea0a0;
}

#navbar{
 
    justify-content: space-between;
    text-decoration: none;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 10px 20PX ; 
    border-bottom: #79b3f0;   
    z-index: 1002; 
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left:0;
    right: 0; ;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

}  
#rota-logo {
    left: 10px;
    color: #007bff;
    font-size: 35px;
    position: fixed;  
}

#barradepesquisa{
    top: 20px;
    left: 30%;
    padding: 10px 50px 10px 10px;
    border-radius: 20px;
    border: 1px solid #ced4da;
    width:30%;
    cursor: text;
    font-size: 10;
    position: fixed;
}
input::placeholder{
    color: #9ea0a0; 
}
#lupa{
    top: 20px;
    left: 61%;
    position: fixed;
    cursor: pointer;
    font-size: 35px;
}
#perfil {
    background-color: none;
    padding: 0;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    justify-content: center;
    overflow: hidden;/*isso é pra deixar a img so onde eu quero */
    cursor: pointer;
}
#tamanhoimagem{
     width: 100%;
     height: 100%;
     object-fit: cover; /* pra cobrir o espaco todo */
    
}

.sidebar-perfil {
    border-radius: 15px;
    position: fixed;
    top: 60px; 
    right: 50px; 
    width: 200px;
    height: 0;
    overflow: hidden;
    background-color: #babbc4;
    transition: height 0.2s ease;
    z-index: 1005; /* sobresair */
    box-shadow: #9fa2a5;
}

.sidebar-perfil.open { 
    height: 150px;
 
   
}

.sidebar-perfil ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-perfil li {
    margin: 10px 15px 30px;
}

.sidebar-perfil a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.sidebar-perfil a:hover {
    text-decoration: underline ;
    text-decoration-color:#9fa2a5 ;

}


.menu{
    height: 100%;
    width: 0;
    position:fixed;
    top: 80px;
    left: 0px;
    bottom: 0;
    overflow-x: hidden;
    transition: width 0.2s ease;
    background-color: #484cca;
    font-size: 20px ;
    z-index: 1000;
   
}
.menu a{
    
    font-size: larger ;
    margin-left: 10px;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
}
.menu h1{
    color: rgb(255, 255, 255);
    margin-left: 10px}
    
.menu.open{
    width: 250px;
}
#estilodolink{ 
    text-decoration: none;
}
.menu-botao{
    padding: 2px 0PX 0PX 0PX;
    background-color: #e6e6e673;
    border:1px solid #ffffff;
    border-radius:left 5px;
    font-size: 10px;
    cursor: pointer;
    margin-top: 100px;
    margin-left: 0;
    position: fixed;
   
    
}
.menu-botao img{
    z-index: 1%;
    
}
.menu-botao:hover{
    border: #828e9b;
    border: 1px solid black ;
  
}
#texto-teste{
    margin-top: 120px ;
    margin-left: 14px;
    color: #d1d1d1;
}
#carrossel{
    border-radius: 15px;
    background-color: #d1d1d1;
    margin-top: 10px;
    width: 700px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  
  
}


#carrossel img{
    height: 100%;
    width: 160px;
    border-radius: 15px;
    margin: 0 10px 0 ;
}
#esponsividade{
    align-items: center;
    position: fixed;
    left: 30px;
    transition: width 0.2s ease;
}
#esponsividade.active{
    left: 300px;
    
  
}
.scroll{
    overflow-y: scroll; 
    overflow-x: hidden;
    height: 2001px;
}