


.menu-botao{
    background-color: rgb(255, 255, 255);
    border: none;
    font-size: 10px;
    cursor: pointer;
    top: 15px;
    left: 10px;
    margin-top: 250px;
    margin-left: 0;
}
.menu-botao:hover{
    transition: 1s;
    background-color: rgb(171, 174, 176);
}

.menu{
    padding-top: 70px;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0,5s;
    background-color: #484cca;
    font-size: 20px ;
}
.menu a{
    display: flex;
    font-size: larger ;
    margin-left: 50px;
    text-align: center;
    color: aliceblue;
}
.menu h1{
    color: rgb(255, 255, 255);
    margin-left: 45px}
    
.menu.open{
    width: 250px;
}
.estilodolink{
    text-decoration: none;
}
.barra-de-pesquisa{
    margin-left: 300px;
   font-style: color #3de2ff ;
   display: flex ;
    
    

}
#barradepesquisa{
    border: 2px solid #ece9e9;
    border-radius: 15px;
    padding: 3px 100px 3px 5px;
    cursor: text;
}
input::placeholder{
    color: #9ea0a0;
}
.lupa{
    fill: #9ea0a0;
}